<div id="buttonConteiner">
    <div id="buttonCancel">
        <button class="buttonCancel" >Cancelar</button>
        <button class="buttonSubmit" type="submit">Aceptar Y Suscribir</button>
    </div>
</div>
<style>
#buttonConteiner {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    height: 50px;
    
}
.buttonCancel {
    background-color: #f4433600; 
    color: rgb(255, 0, 255);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}
.buttonSubmit {
    background-color: #ff0077;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.504);
    text-shadow: rgba(0, 0, 0, 0.568) 0.1em 0.1em 0.5em;
    transition: .5s;
}.buttonSubmit:hover {
    background-color: #00ff4c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
}

</style>