<div class="subscription-box">
  <h3>SUSCRIPCIÓN SEMANAL:</h3>
  <p>3,99€ (IVA incl.)<br>
     Autorenovable en tu factura<br>
     Servicio prestado por Media Digital Group<br>
     Att. cliente: 9000907110
  </p>
  <p>
    El acceso a este servicio lo tienes bloqueado actualmente. Si haces clic en Continuar activas el acceso a este servicio de suscripción y aceptas:
  </p>
  <div id="terms-container">
    <a href="#">Términos y Condiciones</a>
    <a href="#">Política de Datos y Privacidad</a>
  </div>
</div>

<style>
.subscription-box {
  text-align: center;
  color: #333;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  margin: auto;
}

#terms-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

.subscription-box h3 {
  font-weight: bold;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.subscription-box p {
  margin: 10px 0;
  line-height: 1.5;
  font-size: 15px;
}

.subscription-box a {
  color: #f43f78;
  text-decoration: underline;
  font-weight: 500;
}
</style>